@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-primary-50: #E6F2EF;
  --color-primary-100: #CCE6DF;
  --color-primary-200: #99CCC0;
  --color-primary-300: #66B3A0;
  --color-primary-400: #339980;
  --color-primary-500: #006B58;
  --color-primary-600: #005545;
  --color-primary-700: #004033;
  --color-primary-800: #002B22;
  --color-primary-900: #001511;
}

/* Base styles */
body {
  @apply font-sans antialiased;
}
